*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

header{
    align-items: center;
    display: flex;
}

.nacionales{
    background-color: rgb(69, 101, 241);
}

.internacionales{
    background-color: aquamarine;
}